{{> head  }}
{{> navbar  }}
<div class="row">
    <div class="col-8">
        <div class="jumbotron">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, eligendi! Eius, nostrum delectus architecto fuga et facere repellat libero alias doloremque, vero voluptatibus asperiores reprehenderit optio tempore eligendi atque magni?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi deleniti, sint nulla illo vel at impedit consequuntur debitis? In, harum! Enim reiciendis atque esse, vero doloribus assumenda aspernatur voluptatem fugit!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>

    <div class="col-4">
        <img src="assets/img/gatito.jpg" class="img-thumbnail" alt="">
    </div>
{{> footer  }}